{% load wagtailcore_tags %}

<div class="copyright text-center text-muted" role="note">
    {{ footer_text|richtext }}
</div>
<div class="share-results">
    <a class="fa fa-2x fa-envelope-o" data-toggle="tooltip" title="Share by Email" data-placement="top" href="#"></a>
    <a class="fa fa-2x fa-facebook-square" data-toggle="tooltip" title="Share on Facebook" data-placement="top" href=""></a>
    <a class="fa fa-2x fa-twitter-square" data-toggle="tooltip" title="Share on Twitter" data-placement="top" href=""></a>
    <a class="fa fa-2x fa-stack" data-toggle="tooltip" title="Share by Link" data-placement="top" href="#">
      <i class="fa fa-square-o fa-stack-2x" style="color:bleu"></i>
      <i class="fa fa-link fa-stack-1x"></i>
    </a>
  </div>